@media (max-width:412px) {
    .container .icon .imgbg{
        /* left:190px; */
        left:0;
        height: 400px;
        width: 400px;
        bottom:0;
    }
    .container .icon .imgbg img{
        top:200px;
    }
    .icon-center{
        /* left:60px; */
        left: 0;
        top: 150px;
        height: 300px;
        width: 300px;
    }
}
