@media (max-width:412px) {
    .container .icon .imgbg{
        left:190px;
        /* left:0; */
        height: 400px;
        width: 400px;
        bottom:0;
    }
    .container .icon .imgbg img{
        top:200px;
    }
    .icon-center{
        left:60px;
        /* left: 0; */
        top: 150px;
        height: 300px;
        width: 300px;
    }
}
@media all and (min-width:360px) and (max-width:740px){
    .container .icon .imgbg{
        left:200px;
        height: 300px;
        width: 300px;
    }
    .icon-center{
        top: 175px;
        left:45px;
        height:250px;
        width: 250px;
    }
    .container{
        background-size: cover;
    }
}