/* .container{
    height: 600px;
    width: 1000px;
    background-image: url('/Images/background plain.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}
.container{
    position: relative;
    width: 1200px;
    height: 620px;
    background-image: url('Images/background plain.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid #fff; */
    /* border-radius: 50%; */
}
.icon-center{
    height: 550px ;
    width: 550px;
    position: relative;
    /* border-radius: 50%; */
    /* border: 1px solid #fff; */
    /* top: 570px; */
    top: 40px;
    left: 330px;
}

.icon-center img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    /* padding-top: 700px; */
}

.container .icon{
    position: relative;
    width: 100%;
    height: 100%;
    left: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.container .icon .imgbg{
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    /* overflow: hidden; */
    /* transition: 0.5s; */
    /* border: 1px solid #fff; */
    left: 900px;
    bottom: 0;
    /* top: 0;
    left: 250px; */
    /* transform: rotate(calc(360deg/9 * var(--i))); */
    transform-origin: 340px;
    /* z-index: 100; */
}
.container .icon .imgbg img{
    position: absolute;
    top: 60px;
    left: 0;
    /* width: 300px; */
    /* height: 400px; */
    /* padding-bottom: 50px; */
    /* transform: rotateY(90deg); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}